<?xml version="1.0"?>
<ruleset name="WordPress Theme Coding Standards">
    <description>Custom ruleset for Local WP Development.</description>

    <arg value="ps"/>
    <arg name="basepath" value="./"/>
    <arg name="parallel" value="8"/>
    <arg name="extensions" value="php"/>

    <file>.</file>

    <exclude-pattern>/vendor/*</exclude-pattern>
    <exclude-pattern>/node_modules/*</exclude-pattern>
    <exclude-pattern>/dist/*</exclude-pattern>

    <rule ref="WordPress">
        <exclude name="WordPress.NamingConventions.PrefixAllGlobals.ShortPrefixPassed"/>
    </rule>
    <rule ref="WPThemeReview"/>

    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array" value="your-theme-slug"/>
        </properties>
    </rule>

    <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
        <properties>
            <property name="prefixes" type="array" value="your_theme_prefix" />
        </properties>
    </rule>

    <rule ref="WordPress.Files.FileName">
        <properties>
            <property name="is_theme" value="true"/>
        </properties>
    </rule>

    <config name="minimum_supported_wp_version" value="6.4"/>
    <config name="testVersion" value="8.1-"/>
    <rule ref="PHPCompatibilityWP"/>

    <rule ref="WordPress.Arrays.MultipleStatementAlignment">
        <properties>
            <property name="exact" value="false"/>
        </properties>
    </rule>
</ruleset>